/**
 * @file
 * Schema.org standard styles.
 */

/**
 * Toolbar.
 */
.toolbar .toolbar-bar .toolbar-icon.toolbar-icon-language:before {
  -webkit-mask-image: url(../images/tmgmt.svg);
  mask-image: url(../images/tmgmt.svg);
}

.toolbar .toolbar-bar .toolbar-icon.toolbar-menu-administration-dashboard:before {
  -webkit-mask-image: url(../images/sidebar.svg);
  mask-image: url(../images/sidebar.svg);
}

/**
 * Dashboards.
 */
.dashboards-container .block-search .panel__content,
.dashboards-container .block-dashboards-blockdashboardnode-statistics .panel__content,
.dashboards-container .block-views-blockwho-s-online-who-s-online-block .panel__content,
.dashboards-container .block-dashboards-blockdashboardaccount .panel__content {
  margin: 0 .75rem .75rem .75rem;
  padding: 0 24px;
}

/**
 * Issue #2887220: ReDoc: "(Versioning not supported)"
 * @see https://www.drupal.org/node/2887220
 */
.api-info-version {
  display: none;
}

.flexfield__label {
  font-weight: bold;
}
