/**
 * @file
 * Schema.org standard admin styles.
 */

/**
 * Media image and remote video.
 */
.field--name-schema-main-entity .media--type-image img {
  width: 100%;
  height: auto;
}

iframe.media-oembed-content {
  aspect-ratio: 16/9;
  height: 100%;
  width: 100%;
}

/**
 * Toolbar icons.
 */
.toolbar .toolbar-bar .toolbar-icon.toolbar-icon-language:before {
  -webkit-mask-image: url(../images/tmgmt.svg);
  mask-image: url(../images/tmgmt.svg);
}

.toolbar .toolbar-bar .toolbar-icon.toolbar-menu-administration-dashboard:before {
  -webkit-mask-image: url(../images/sidebar.svg);
  mask-image: url(../images/sidebar.svg);
}

.toolbar .toolbar-bar .toolbar-icon.toolbar-icon-moderation-sidebar:before {
  -webkit-mask-image: url(../images/info.svg);
  mask-image: url(../images/info.svg);
}

/**
 * Dashboards spacing.
 */
.layout-builder .block-search .panel__content,
.layout-builder .block-dashboards-blockdashboardnode-statistics .panel__content,
.layout-builder .block-views-blockwho-s-online-who-s-online-block .panel__content,
.layout-builder .block-dashboards-blockdashboardaccount .panel__content,
.dashboards-container .block-search .panel__content,
.dashboards-container .block-dashboards-blockdashboardnode-statistics .panel__content,
.dashboards-container .block-views-blockwho-s-online-who-s-online-block .panel__content,
.dashboards-container .block-dashboards-blockdashboardaccount .panel__content {
  margin: 0 .75rem .75rem .75rem;
  padding: 0 24px;
}

.layout-builder .view-empty,
.layout-builder .view-content,
.dashboards-container .view-empty,
.dashboards-container .view-content {
  margin: 0 .75rem .75rem .75rem;
  padding: 0 24px;
}

/**
 * Issue #2887220: ReDoc: "(Versioning not supported)"
 * @see https://www.drupal.org/node/2887220
 */
.api-info-version {
  display: none;
}

/**
 * Flexfield labels.
 */
.flexfield__label {
  font-weight: bold;
}

/**
 * Entity Reference Tree Widget.
 */
.field--widget-entity-reference-tree > .form-item {
  margin: 0;
}

.field--widget-entity-reference-tree > a.button {
  margin: .5rem 0 1rem 0;
}

/**
 * Office hours widget.
 */
.office-hours-slot td .form-datetime-wrapper {
  white-space: nowrap;
}

.office-hours-slot td .office-hours-link {
  display: block;
  margin: 0;
}

.office-hours-slot td .office-hours-link + .office-hours-link{
  margin-top: 0.25rem;
}

/**
 * Layout paragraphs builder.
 */
.lpb-enable {
  z-index: 100;
}

.lpb-enable__empty-message__wrapper {
  border: 1px solid var(--colorGinBorder);
  padding: 1.25rem;
}

.lpb-enable-button {
  margin-top: 1.25rem;
}

/**
 * Layout paragraphs types.
 */
.paragraph--type--item-list,
.paragraph--type--statement,
.paragraph--type--quotation,
.paragraph--type--cta {
  border: 1px solid var(--colorGinBorder);
  border-radius: var(--ginBorderDefault);
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  background-color: #fff;
}

.paragraph--type--cta .field--name-schema-name {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.paragraph--type--cta.border {
  border-width: 3px;
  border-color: #000;
}

.paragraph--type--cta.highlight {
  background-color: #ffe;
}

.paragraph--type--cta.shadow {
  box-shadow: 5px 10px 8px #888888;
}

/**
 * Slick.
 */
.schemadotorg-demo-slick .slick-next,
.schemadotorg-demo-slick .slick-prev {
  z-index: 100;
  width: 50px;
  height: 50px;
  color: #fff;
}

.schemadotorg-demo-slick .slick-next:before,
.schemadotorg-demo-slick .slick-prev:before {
  font-size: 50px;
  color: #333;
  opacity: revert;
}

.gin--dark-mode .schemadotorg-demo-slick .slick-next:before,
.gin--dark-mode .schemadotorg-demo-slick .slick-prev:before {
  color: #ccc;
}

.schemadotorg-demo-slick .slick-dots li button:before {
  font-size: 25px;
  line-height: 25px;
}

/**
 * Entity embed.
 */
.align-left.embedded-entity {
  margin: 0 1rem 1rem 0;
  width: 40%;
}

.align-right.embedded-entity {
  margin: 0 0 1rem 1rem;
  width: 40%;
}

.align-center.embedded-entity {
  margin: 1rem auto;
  width: 60%;
}
