/**
 * @file
 * Schema.org report styles.
 */

/**
 * Hide the filter submit button is dialog and use autocomplete to redirect.
 */
.ui-dialog .schemadotorg-report-filter-form .form-submit {
  display: none;
}

.schemadotorg-report-add-type {
  float: right;
}

@media (max-width: 768px) {
  .schemadotorg-report-add-type {
    float: none;
    margin: 0 0 1em 0;
  }
}
