/**
 * @file
 * Schema.org UI styles.
 */

details.schemadotorg-ui--add-field {
  display: none;
}

.schemadotorg-ui-properties {
  margin-top: 0;
}

.schemadotorg-ui-properties td {
  vertical-align: top;
}

.schemadotorg-ui-properties-toggle-wrapper {
  text-align: right;
}

/* Claro theme enhancements */
.schemadotorg-ui-claro tr.color-success {
  border: 4px solid #325e1c;
}

.schemadotorg-ui-claro tr.color-warning {
  border: 4px solid #734c00;
}

.schemadotorg-ui-claro tr.color-success:hover,
.schemadotorg-ui-claro tr.color-warning:hover {
  border-color: #232429;
}

@media (max-width: 768px) {
  .schemadotorg-ui-property--comment {
    display: none;
  }
}

/**
 * Hide properties table.
 *
 * This approach blocks user with JS disabled from managing the mappings.
 *
 * Using `htmls.js .schemadotorg-ui-properties` causes a massive content flicker.
 *
 * @todo Determine a more accessible was to hide the table only when JS is enabled.
 */
table.schemadotorg-ui-properties {
  display: none;
}
