/**
 * @file
 * Schema.org JSON-LD styles.
 */

.schemadotorg-jsonld-copy {
  display: none;
}

html.js .schemadotorg-jsonld-copy {
  display: block;
}

.schemadotorg-jsonld-copy-message {
  display: none;
  font-weight: bold;
}

.schemadotorg-jsonld-copy-message:before {
  content: '✓';
}

pre.schemadotorg-jsonld-code {
  border: 1px solid #999;
  padding: 1em;
}

pre.schemadotorg-jsonld-code span {
  font-weight: bold;
  color: #080;
}
